body {
  background-image: linear-gradient(
    to top,
    #000000,
    #090909,
    #111111,
    #161616,
    #1b1b1b,
    #1b1b1b,
    #1b1b1b,
    #1b1b1b,
    #161616,
    #111111,
    #090909,
    #000000
  );
  background-size: 1950px 1150px;
  background-repeat: no-repeat;
  background-position: fixed;
}

.App{
  margin: 0px;
}

.no-playback{
  position: fixed;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  top: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  
}

.logout-btn {
  position: fixed;
  right: 10px;
  top: 5px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.songinfo {
  position: fixed;
  right: -20px;
  top: 30px;
  text-align: right;
  z-index: inherit;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.currently-playing {

  position: fixed;
  left: 20px;
  bottom: 30px;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.userwelcome {
  position: fixed;
  left: 10px;
  top: 5px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

/* start of spotify logo */
.spotify {
  position: relative;
  margin: 20px auto;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: radial-gradient(
      94px 276px,
      circle farthest-corner,
      transparent 22%,
      #1a4005 22%,
      #1a4005 35%,
      transparent 35%
    ),
    linear-gradient(top, #96ba2a, #75a621);
  background: linear-gradient(to bottom, #96ba2a, #75a621);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.spotifybutton{
  position: fixed;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  top: 5px;
}

.bar {
  position: absolute;
  width: 320px;
  height: 200px;
  border-radius: 50%;
  border: 30px solid #305a0a;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(8deg) scale(0.7);
}

.bar-dark {
  top: 20px;
  left: -40px;
}

.bar-dark::before,
.bar-dark::after {
  background: #305a0a;
}

.bar-med {
  top: 53px;
  left: -44px;
  transform: rotate(8deg) scale(0.6);
  border-top-color: #4a7814;
}

.bar-med::before,
.bar-med::after {
  background: #4a7814;
}

.bar-light {
  top: 80px;
  left: -49px;
  transform: rotate(8deg) scale(0.5);
  border-top-color: #659620;
}

.bar-light::before,
.bar-light::after {
  background: #659620;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 29px;
  height: 29px;
  border-radius: 50%;
}

.bar::before {
  top: 0px;
  left: 5px;
}

.bar::after {
  top: 1px;
  right: 4px;
}

/* end  */

.App {
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div,
button {
  margin: 15px;
}
